body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    
}
#login{
    background-color: #7b1fa2;
    position:relative;
    top:15%;
    width:340px;
    height:445px;
    margin:auto;
    border-radius:5px;
    text-align: center;
    box-shadow: 0 5px 5px 0 ;
}
#log{
    background-color: #7b1fa2;
    position:relative;
    top:15%;
    width:340px;
    height:510px;
    margin:auto;
    border-radius:5px;
    text-align: center;
    box-shadow: 0 5px 5px 0 ;
}
#title{
    position: relative;
    background-color: #1a1c1d;
    width:100%;
    padding: 20px 0px;
    border-radius: 4px;
    font-size:22px;
    border-bottom:1px solid white;

}
.input{
    margin:auto;
    width:240px;
    border-radius: 4px;
    background-color:#373b3d;
    padding:8px 0px;
    margin-top:15px;

}
.input1{
    float:left;
    background-color: #373b3d;
    padding: 4px 10px;
    border-right: 1px solid white;
}

input{
    color:#949494;
    margin:auto;
    background-color:#373b3d;
    border:1px solid #373b3d;
    padding: 8px 10px;
    border-radius: 3px;
}
.register{
    margin:auto;
    text-align: center;
    padding: 30px;
}
#regbutton{
    background-color: #373b3d;
    width:100px;
    position: relative;
    margin:auto;
    padding:10px 0px;
    border-radius: 2px;
    border-width:0px;
    color:#949494;
}
